.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.header {
  min-height: 620px; 
  background-image: linear-gradient(106.19deg, rgb(226, 241, 255) 7.09%, rgb(255, 253, 230) 91.38%)
}